/* Layout.css */
div {
   
    background-color: #f0f0f0; 
    min-height: 100%; /* Ensures the div covers the full height of the page */
  }
  
  main {
    padding: 30px; /* Optional: Add padding for the content */
  }
  
  header, footer {
    background-color:#271b48;; /* Example background color for header/footer */
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer {
    height: 100px;
    margin-top: auto; /* This pushes the footer to the bottom */
  }